DROP TABLE IF EXISTS sales;
DROP TABLE IF EXISTS salesrep;

CREATE TABLE salesrep(
                         salesRepID  INTEGER CONSTRAINT PK_salesrep
                             PRIMARY KEY
                             GENERATED ALWAYS AS IDENTITY NOT NULL,
                         name        VARCHAR(60) ,
                         office      VARCHAR(45)
);

CREATE TABLE sales(
    Order_ID        INTEGER
                        CONSTRAINT pk_sales PRIMARY KEY
                        GENERATED ALWAYS AS IDENTITY NOT NULL,
	Order_Date      TIMESTAMP,
	Customer_Name   VARCHAR(50),
	SalesRepId      INTEGER CONSTRAINT fk_sales_salesrepid REFERENCES salesrep(salesRepID),
	Amount          INTEGER
);



INSERT INTO salesrep (name, office) VALUES ( 'R. Zane', 'Berlin');
INSERT INTO salesrep (name, office) VALUES ( 'P. Chapman', 'Berlin');
INSERT INTO salesrep (name, office) VALUES ( 'F. Crane', 'New York');

INSERT INTO sales (Order_Date, Customer_Name, SalesRepId, Amount) VALUES (TO_DATE('2010-10-13', 'YYYY-MM-DD'), 'Muhammed MacIntyre', 1, 851804379);
INSERT INTO sales (Order_Date, Customer_Name, SalesRepId, Amount) VALUES (TO_DATE('2012-10-01', 'YYYY-MM-DD'), 'Barry French', 1, 683057055);
INSERT INTO sales (Order_Date, Customer_Name, SalesRepId, Amount) VALUES (TO_DATE('2011-07-10', 'YYYY-MM-DD'), 'Clay Rozendal', 1, 1732115679);



